.result1 {
  display: none;
  width: 300px;
  height: auto;
}

.result2 {
  display: none;
  width: 300px;
  height: auto;
}

.result3 {
  display: none;
  width: 300px;
  height: auto;
}

.result4 {
  display: none;
  width: 300px;
  height: auto;
}